.card {
  /*
  height: 120%;
  width: 30vw;
  */
  display: grid;
  grid-template: repeat(4, auto) / 1fr;
}

.item__header {
  background-color: #c4554e;
  color: #f9feff;
}

.item__main {
  background-color: #f46a5f;
  color: #f9feff;
}
