.card {
  display: grid;
  grid-template: repeat(4, auto) / 1fr;
  text-align: center;
}

.item__header {
  background-color: #273037;
  color: #f9feff;
}

.item__main {
  background-color: #333a44;
  color: #f9feff;
}
