:root {
  --bg-main: #fafafa;
  --blue-dark: #2698b0;
  --blue-light: #2cc1d5;
  --green-dark: #208670;
  --gree-light: #24ae8d;
  --red-dark: #c4554e;
  --red-light: #f46a5f;
  --black-dark: #273037;
  --black-light: #333a44;
  --grey-light: #f8f8f8;
  --grey-dark: #eeeeee;
  --font-light: #f9feff;
  --font-dark: #606060;
}
